<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.servlet.UpdateProductServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
</servlet-mapping>
    
    <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.servlet.DeleteProductServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
</servlet-mapping>
    <servlet>
    <servlet-name>DisplayProductsServlet</servlet-name>
    <servlet-class>com.servlet.DisplayProductsServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DisplayProductsServlet</servlet-name>
    <url-pattern>/displayProducts</url-pattern>
</servlet-mapping>
    <servlet>
    <servlet-name>ReportCriteriaServlet</servlet-name>
    <servlet-class>com.servlet.ReportCriteriaServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ReportCriteriaServlet</servlet-name>
    <url-pattern>/reportCriteria</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <servlet-class>servlet.GetProductByIdServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <url-pattern>/getProductById</url-pattern>
</servlet-mapping>

    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
